In [11]:
import pandas as pd
import numpy as np
df =pd.read_csv(r"FB.csv")

In [12]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2013-12-31,54.119999,54.860001,53.910000,54.650002,54.650002,43076200
1,2014-01-02,54.830002,55.220001,54.189999,54.709999,54.709999,43195500
2,2014-01-03,55.020000,55.650002,54.529999,54.560001,54.560001,38246200
3,2014-01-06,54.419998,57.259998,54.049999,57.200001,57.200001,68852600
4,2014-01-07,57.700001,58.549999,57.220001,57.919998,57.919998,77207400
...,...,...,...,...,...,...,...
1254,2018-12-24,123.099998,129.740005,123.019997,124.059998,124.059998,22066000
1255,2018-12-26,126.000000,134.240005,125.889999,134.179993,134.179993,39723400
1256,2018-12-27,132.440002,134.990005,129.669998,134.520004,134.520004,31202500
1257,2018-12-28,135.339996,135.919998,132.199997,133.199997,133.199997,22627600
1258,2018-12-31,134.449997,134.639999,129.949997,131.089996,131.089996,24625300

In [13]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1259.000000,1259.000000,1259.000000,1259.000000,1259.000000,1.259000e+03
mean,120.387911,121.594305,119.101454,120.410191,120.410191,2.890145e+07
std,41.308898,41.616907,41.010182,41.348833,41.348833,1.945370e+07
min,54.020000,54.860001,51.849998,53.529999,53.529999,5.913100e+06
25%,80.224998,81.210003,79.564999,80.545002,80.545002,1.676310e+07
50%,117.709999,118.599998,116.699997,117.650002,117.650002,2.273940e+07
75%,156.279999,158.014999,153.345001,155.185005,155.185005,3.423355e+07
max,215.720001,218.619995,214.270004,217.500000,217.500000,1.698037e+08

In [15]:
df.shape

(1259, 7)

In [16]:
df1 = df[df['Open']>0.15]

In [19]:
df1 = df[['Open', 'High','Low','Close','Adj Close','Volume']].loc[0:15]

In [20]:
df1

         Open       High        Low      Close  Adj Close    Volume
0   54.119999  54.860001  53.910000  54.650002  54.650002  43076200
1   54.830002  55.220001  54.189999  54.709999  54.709999  43195500
2   55.020000  55.650002  54.529999  54.560001  54.560001  38246200
3   54.419998  57.259998  54.049999  57.200001  57.200001  68852600
4   57.700001  58.549999  57.220001  57.919998  57.919998  77207400
5   57.599998  58.410000  57.230000  58.230000  58.230000  56682400
6   58.650002  58.959999  56.650002  57.220001  57.220001  92253300
7   57.130001  58.299999  57.060001  57.939999  57.939999  42449500
8   57.910000  58.250000  55.380001  55.910000  55.910000  63010900
9   56.459999  57.779999  56.099998  57.740002  57.740002  37503600
10  57.980000  58.570000  57.270000  57.599998  57.599998  33663400
11  57.259998  58.020000  56.830002  57.189999  57.189999  34541800
12  57.299999  57.820000  56.070000  56.299999  56.299999  40849200
13  56.599998  58.580002  56.500000  58.509998  58.509998  48669200
14  58.849998  59.310001  57.099998  57.509998  57.509998  61352900
15  56.369999  56.680000  55.689999  56.630001  56.630001  47951800

In [21]:
df2 = df[['Open', 'High','Low','Close','Adj Close','Volume']].loc[16:30]

In [22]:
df2

         Open       High        Low      Close  Adj Close     Volume
16  56.150002  56.419998  54.400002  54.450001  54.450001   55200700
17  54.730000  54.939999  51.849998  53.549999  53.549999   73924100
18  54.020000  55.279999  54.000000  55.139999  55.139999   48191200
19  54.610001  54.950001  53.189999  53.529999  53.529999   92995600
20  62.119999  62.500000  60.459999  61.080002  61.080002  150178900
21  60.470001  63.369999  60.169998  62.570000  62.570000   87794600
22  63.029999  63.770000  60.700001  61.480000  61.480000   74866600
23  62.049999  63.139999  61.820000  62.750000  62.750000   45985500
24  62.740002  63.160000  61.270000  62.189999  62.189999   51685100
25  61.459999  62.779999  61.459999  62.160000  62.160000   42086500
26  62.270000  64.570000  62.220001  64.320000  64.320000   60704300
27  64.300003  64.489998  63.470001  63.549999  63.549999   43666100
28  63.750000  65.000000  63.349998  64.849998  64.849998   45675600
29  64.919998  65.059998  64.050003  64.449997  64.449997   47282100
30  64.180000  67.330002  64.050003  67.330002  67.330002   61911700

In [23]:
df3 = df[['Open', 'High','Low','Close','Adj Close','Volume']].loc[31:50]

In [24]:
df3

         Open       High        Low      Close  Adj Close     Volume
31  67.500000  67.580002  66.720001  67.089996  67.089996   36694900
32  66.940002  67.540001  66.070000  67.300003  67.300003   43809900
33  67.050003  69.080002  67.000000  68.059998  68.059998   62087100
34  67.730003  70.110001  65.730003  69.629997  69.629997  130928900
35  69.690002  69.959999  68.449997  68.589996  68.589996   70932400
36  68.739998  71.440002  68.540001  70.779999  70.779999   76620300
37  70.949997  71.000000  69.449997  69.849998  69.849998   52077000
38  70.190002  71.220001  68.849998  69.260002  69.260002   55322700
39  69.339996  70.010002  68.870003  68.940002  68.940002   41653700
40  69.470001  69.879997  67.379997  68.459999  68.459999   66783700
41  66.959999  68.050003  66.510002  67.410004  67.410004   56824100
42  68.660004  68.900002  67.620003  68.800003  68.800003   42013500
43  69.690002  71.970001  69.620003  71.570000  71.570000   74567700
44  71.879997  71.889999  70.250000  70.839996  70.839996   46026500
45  71.080002  71.180000  69.470001  69.800003  69.800003   38927000
46  70.769997  72.150002  70.510002  72.029999  72.029999   59871600
47  72.500000  72.589996  69.959999  70.099998  70.099998   59408300
48  69.860001  71.349998  69.000000  70.879997  70.879997   46340500
49  71.290001  71.349998  68.150002  68.830002  68.830002   57091000
50  68.489998  69.430000  67.459999  67.720001  67.720001   48227000

In [25]:
merging = pd.concat([df1,df2,df3])

In [26]:
merging

         Open       High        Low      Close  Adj Close     Volume
0   54.119999  54.860001  53.910000  54.650002  54.650002   43076200
1   54.830002  55.220001  54.189999  54.709999  54.709999   43195500
2   55.020000  55.650002  54.529999  54.560001  54.560001   38246200
3   54.419998  57.259998  54.049999  57.200001  57.200001   68852600
4   57.700001  58.549999  57.220001  57.919998  57.919998   77207400
5   57.599998  58.410000  57.230000  58.230000  58.230000   56682400
6   58.650002  58.959999  56.650002  57.220001  57.220001   92253300
7   57.130001  58.299999  57.060001  57.939999  57.939999   42449500
8   57.910000  58.250000  55.380001  55.910000  55.910000   63010900
9   56.459999  57.779999  56.099998  57.740002  57.740002   37503600
10  57.980000  58.570000  57.270000  57.599998  57.599998   33663400
11  57.259998  58.020000  56.830002  57.189999  57.189999   34541800
12  57.299999  57.820000  56.070000  56.299999  56.299999   40849200
13  56.599998  58.580002  56.500000  58.509998  58.509998   48669200
14  58.849998  59.310001  57.099998  57.509998  57.509998   61352900
15  56.369999  56.680000  55.689999  56.630001  56.630001   47951800
16  56.150002  56.419998  54.400002  54.450001  54.450001   55200700
17  54.730000  54.939999  51.849998  53.549999  53.549999   73924100
18  54.020000  55.279999  54.000000  55.139999  55.139999   48191200
19  54.610001  54.950001  53.189999  53.529999  53.529999   92995600
20  62.119999  62.500000  60.459999  61.080002  61.080002  150178900
21  60.470001  63.369999  60.169998  62.570000  62.570000   87794600
22  63.029999  63.770000  60.700001  61.480000  61.480000   74866600
23  62.049999  63.139999  61.820000  62.750000  62.750000   45985500
24  62.740002  63.160000  61.270000  62.189999  62.189999   51685100
25  61.459999  62.779999  61.459999  62.160000  62.160000   42086500
26  62.270000  64.570000  62.220001  64.320000  64.320000   60704300
27  64.300003  64.489998  63.470001  63.549999  63.549999   43666100
28  63.750000  65.000000  63.349998  64.849998  64.849998   45675600
29  64.919998  65.059998  64.050003  64.449997  64.449997   47282100
30  64.180000  67.330002  64.050003  67.330002  67.330002   61911700
31  67.500000  67.580002  66.720001  67.089996  67.089996   36694900
32  66.940002  67.540001  66.070000  67.300003  67.300003   43809900
33  67.050003  69.080002  67.000000  68.059998  68.059998   62087100
34  67.730003  70.110001  65.730003  69.629997  69.629997  130928900
35  69.690002  69.959999  68.449997  68.589996  68.589996   70932400
36  68.739998  71.440002  68.540001  70.779999  70.779999   76620300
37  70.949997  71.000000  69.449997  69.849998  69.849998   52077000
38  70.190002  71.220001  68.849998  69.260002  69.260002   55322700
39  69.339996  70.010002  68.870003  68.940002  68.940002   41653700
40  69.470001  69.879997  67.379997  68.459999  68.459999   66783700
41  66.959999  68.050003  66.510002  67.410004  67.410004   56824100
42  68.660004  68.900002  67.620003  68.800003  68.800003   42013500
43  69.690002  71.970001  69.620003  71.570000  71.570000   74567700
44  71.879997  71.889999  70.250000  70.839996  70.839996   46026500
45  71.080002  71.180000  69.470001  69.800003  69.800003   38927000
46  70.769997  72.150002  70.510002  72.029999  72.029999   59871600
47  72.500000  72.589996  69.959999  70.099998  70.099998   59408300
48  69.860001  71.349998  69.000000  70.879997  70.879997   46340500
49  71.290001  71.349998  68.150002  68.830002  68.830002   57091000
50  68.489998  69.430000  67.459999  67.720001  67.720001   48227000

In [27]:
sort_values = df.sort_values('Open', ascending = False)

In [28]:
sort_values

,Date,Open,High,Low,Close,Adj Close,Volume
1149,2018-07-25,215.720001,218.619995,214.270004,217.500000,217.500000,58954200
1148,2018-07-24,215.110001,216.199997,212.600006,214.669998,214.669998,28468700
1147,2018-07-23,210.580002,211.619995,208.800003,210.910004,210.910004,16732000
1144,2018-07-18,209.820007,210.990005,208.440002,209.360001,209.360001,15334900
1146,2018-07-20,208.850006,211.500000,208.500000,209.940002,209.940002,16163900
...,...,...,...,...,...,...,...
17,2014-01-27,54.730000,54.939999,51.849998,53.549999,53.549999,73924100
19,2014-01-29,54.610001,54.950001,53.189999,53.529999,53.529999,92995600
3,2014-01-06,54.419998,57.259998,54.049999,57.200001,57.200001,68852600
0,2013-12-31,54.119999,54.860001,53.910000,54.650002,54.650002,43076200
18,2014-01-28,54.020000,55.279999,54.000000,55.139999,55.139999,48191200

In [29]:
df_transposed = df.T

In [30]:
shaping = df.shape

In [31]:
shaping

(1259, 7)

In [37]:
pivot_table = pd.pivot_table(df,index=['Date', 'Open'])

In [33]:
print(df.columns)

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [35]:
reshaping_arr = np.array([1,2,3,4,5,6])

In [36]:
reshaping_arr.reshape(3,2)

array([[1, 2],
       [3, 4],
       [5, 6]])